<div class="row">
  <div class="col">
    <form>
      <div class="form-group form-inline">
        Search History by Code: <input class="form-control ml-2" type="text" [formControl]="filter" />
      </div>
    </form>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Room</th>
          <th scope="col">Movie</th>
          <th scope="col">Date</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Payed</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of ticket$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight [result]="ticket.code" [term]="filter.value"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="ticket.room"></ngb-highlight></td>
          <td><ngb-highlight [result]="ticket.movie"></ngb-highlight></td>
          <td><ngb-highlight [result]="ticket.date"></ngb-highlight></td>
          <td><ngb-highlight [result]="ticket.start"></ngb-highlight></td>
          <td><ngb-highlight [result]="ticket.end"></ngb-highlight></td>
          <td><ngb-highlight [result]="ticket.isPay"></ngb-highlight></td>
          <td>
            <a class="ml-1" (click)="deleteTicket(i)"><i class="fa fa-trash-alt"></i></a
            ><a class="ml-2"><i class="fa fa-money-check-alt"></i></a>
            <a class="ml-2"><i class="fa fa-history"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
