<div class="row">
  <div class="col">
    <form>
      <div class="form-group form-inline">
        Search Room by Code: <input class="form-control ml-2" type="text" [formControl]="filter" />
        <button class="btn ml-2 btn-cart" type="button" (click)="addRoom()">Add Room</button>
      </div>
    </form>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Max seat</th>
          <th scope="col">Empty seats</th>
          <th scope="col">Booked seats</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight [result]="room.name" [term]="filter.value"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="room.location"></ngb-highlight></td>
          <td><ngb-highlight [result]="room.maxSeats"></ngb-highlight></td>
          <td><ngb-highlight [result]="room.emptySeats"></ngb-highlight></td>
          <td><ngb-highlight [result]="room.selectedSeat"></ngb-highlight></td>
          <td>
            <a class="ml-1" (click)="deleteRoom(room.id)"><i class="fa fa-trash-alt"></i></a
            ><a class="ml-2" (click)="editRoom(room)"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
